[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
django = "*"
django-environ = "*"
celery = "==4.4.7"
django-celery-beat = "==2.1.0"
redis = "*"
graphene = "*"
psycopg2-binary = "*"
graphene-django = "*"
django-filter = "*"
channels = "*"
daphne = "*"
channels-redis = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"
flower = "*"

[requires]
python_version = "3.9"
