container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ftx_data_scraper.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ftx_data_scraper.wsgi:application
  "aws:elasticbeanstalk:environment:process:default":
    HealthCheckPath: "/graphql"
    MatcherHTTPCode: "200-499"
